.main-content {
  margin: 20px;
}

pre {
  white-space: pre-wrap;
  font-family: 'Segoe UI', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.buttons {
  display: flex;
  height: 40px;
  margin-top: 100px;
  gap: 15px;
  justify-content: end;
}

.buttons button {
  width: 60px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}