.main-content {
  margin: 20px;
}

pre {
  white-space: pre-wrap;
  font-family: 'Segoe UI', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.buttons {
  display: flex;
  height: 40px;
  margin-top: 100px;
  gap: 25px;
  justify-content: end;
}

.back {
  width: 54px;
  height: 35px; 
  background-image: url('../../assets/voltar.png');
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}