/* header*/
.cabeçalho {
    display: flex;
    background-color: #0E00AA;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px #00000059;
    gap: 5vw;
}

.cabeçalho-menor {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-shadow: -10px 3px 15px #00000030;
    font-size: 35px;
    letter-spacing: 0.15em;
}

h2 {
    padding: 5px;
    color: #ffffff;  
    text-align: center;
    font-weight: normal; 
}

.imagem-ibb {
    display: grid;
    width: 120px;
    
}

.texto-main {
    display: grid;
    align-items: center;
    text-align: center;
    height: 400px;
    font-family: serif;
    font-size: x-large;
}
