.cabeçalho {
    display: flex;
    background-color: #0E00AA;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px #00000059;
}

.cabeçalho-menor {
    display: grid;
    align-items: center;
    text-align: center;
    width: calc(100vw - (100vw - 100%));
}

@media (min-width: 1025px) {
    .cabeçalho-menor {
        width: 800px;
    }
}

.logo {
    width: 100%;
    height: auto;
}
