.main-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;    
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    height: 60vh;
}

.icon-view, .icon-edit, .icon-show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-view span, .icon-edit span, .icon-show span {
    margin-top: 5px;
    text-align: center;
    line-height: 1;
    font-size: large;
    text-decoration: underline;
}

.icon-view img, .icon-edit img, .icon-show img {
    height: 20vh;
    width: auto;
    display: block;
}

.icon-link {
    display: contents;
}