body{background-color:#0e00aa;background:linear-gradient(90deg,#0e00aa,#0d0561);font-family:Segoe UI,Tahoma,Verdana,sans-serif;color:#fff}a{color:#fff}ul{list-style-type:none;padding:0;margin:0}*{margin:0;padding:0;box-sizing:border-box}
